# Node dependencies
node_modules/

# Tailwind build output (nếu bạn có build local)
static/output.css

# lockfile nếu bạn dùng npm
package-lock.json

# Python venv
.venv/
__pycache__/

# Database
*.db
